.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.navbarText {
  font-size: 18px;
  font-weight: bold;
}

.navbarRecruiter {
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  color: #4183C4;
}

.navbarPolls {
  font-size: 24px;
  font-style: italic;
  font-weight: 200;
  color: #21BA45;
}

.myPollsCreatePoll {
  background-color: #21BA45 !important;
  color:  white !important;
}

.innerContainer {
  width: 1400px !important;
  max-width: 800px !important;
  margin: 30px 10px !important;
}
.text {
  float: left;
}

.others {
  float: right;
}

.block:after {
  content: ":"
}

.input {
  display: inline-block !important;
  vertical-align: middle !important;
  margin: 10px 0;
}

.createPollButton {
  background-color: #21BA45 !important;
  color: white !important;
}

.closePollButton {
  background-color: #EA2525!important;
  color: white !important;
  margin-left: auto !important;
}

.listUnstyled {
  list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#x {
  position: absolute !important;
  top: 5px !important;
  right: 15px !important;
}

.ui.dimmer {
  z-index: 990 !important;
}

.box {
  display: flex !important;
  margin: auto auto !important;
  align-items: center;
}

.pollAnalyticsBox {
  display: flex !important;
  margin: auto auto !important;
  align-items: center;
}

.demowrapper {
  padding: 10px;
  background: white !important;
  box-sizing: border-box !important;
  resize: horizontal !important;
  max-width: 100% !important;
  height: 100% !important;
}